* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --Dark-Cyan: #0e8784;
    --Dark-Grey-Blue: #333d4b;
    --Pale-Orange: #fdd6ba;
    --Light-Cream: #fefcf7;
    --Grey: #83888f;
}

body {
    max-width: 1440px;
    height: 100vh;
    background-color: var(--Light-Cream);
    padding-left: 5%;
    padding-right: 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.right-side-header a {
    text-decoration: none;
    color: var(--Grey);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Barlow';
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.main-content {
    position: relative;
}

.main-central-image img {
    margin-top: 45px;
    border-radius: 10px;
    width: 100%;
}

.main-central-text {
    position: absolute;
    top: 100px;
    padding-left: 7%;
    max-width: 50%;
    margin-top: 50px;
}

.main-text-title h1{
    color: var(--Light-Cream);
    font-family: 'Fraunces';
    font-size: 80px;
    font-weight: 900;
    line-height: 72px;
}

.main-central-text p {
    margin-top: 32px;
    color: var(--Light-Cream);
    font-family: 'Barlow';
    width: 400px;
    line-height: 26px;
    font-size: 16px;
}

.main-central-text button {
    background-color: var(--Dark-Cyan);
    border: none;
    border-radius: 5px;
    padding: 16px 34px;
    margin-top: 56px;
}

.main-central-text button a {
    text-decoration: none;
    color: var(--Light-Cream);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Fraunces';
}

.type-collection {
    position: relative;
}

#background-title{
    font-size: 90px;
    font-family: 'Fraunces';
    font-weight: 900;
    opacity: 15%;
    text-align: center;
    margin-top: 105px;
}

.coffee-type-container {
    display: flex;
}

.coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.coffee img {
    width: 250px;
    margin-bottom: 70px;
}

.coffee h3 {
    font-family: 'Fraunces';
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 24px;
}

.coffee p {
    text-align: center;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    color: var(--Dark-Grey-Blue);
}

.about-us {
    position: relative;
}

.about-us-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 550px;
    top: 100px;
    left: 335px;
}

.about-us-info h3 {
    color: var(--Light-Cream);
    font-weight: 900;
    font-family: 'Fraunces';
    font-size: 24px;
    margin-bottom: 32px;
}

.about-us-info p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: var(--Light-Cream);
}

#background-color {
    width: 100%;
    height: 580px;
    background-color: var(--Dark-Grey-Blue);
    border-radius: 5px;
    margin-top: 150px;
}

.offer-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cards {
    background-color: var(--Dark-Cyan);
    width: 250px;
    color: var(--Light-Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
    border-radius: 8px;
}

.cards h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-family: 'Fraunces';
}

.cards p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Barlow';
}
.cards img {
    width: 72px;
}